<% include ./admininclude/header.ejs %>

<script>
$("#home").addClass( "active" );
$("#movieset").removeClass( "active" );
</script>

<section id="main-content">
  <section class="wrapper">
    <div class="row mt content-panel" style="margin:15px;padding:15px">
      <div id="edit" class="tab-pane">


        여기는 인덱스 페이지에요

      </div>
    </div>
    </section>
</section>
<% include ./admininclude/footer.ejs %>
