<section id="bottom">
    <div class="container fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="row">
            <div class="col-md-2">
                <a href="#" class="footer-logo">
                    <img src="/img/logo3.png" alt="logo">
                </a>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="widget">
                            <h3 style="margin-top:15px;">영화관</h3>
                            <ul>
                                <li><a href="#">강 남 점</a></li>
                                <li><a href="#">중 계 점</a></li>
                                <li><a href="#">미 아 점</a></li>
                                <li><a href="#">용 산 점</a></li>
                                <li><a href="#">광 운 점</a></li>
                                <li><a href="#">분 당 점</a></li>
                                <li><a href="#">건대입구점</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--/.col-md-3-->
                    <div class="col-md-3 col-sm-6">
                        <div class="widget">
                            <h3 style="margin-top:15px;">Support</h3>
                            <ul>
                                <li><a href="#">Faq</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Forum</a></li>
                                <li><a href="#">Documentation</a></li>
                                <li><a href="#">Refund policy</a></li>
                                <li><a href="#">Ticket system</a></li>
                                <li><a href="#">Billing system</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--/.col-md-3-->
                    <div class="col-md-3 col-sm-6">
                        <div class="widget">
                            <h3 style="margin-top:15px;">Developers</h3>
                            <ul>
                                <li><a href="#">Web Development</a></li>
                                <li><a href="#">SEO Marketing</a></li>
                                <li><a href="#">Theme</a></li>
                                <li><a href="#">Development</a></li>
                                <li><a href="#">Email Marketing</a></li>
                                <li><a href="#">Plugin Development</a></li>
                                <li><a href="#">Article Writing</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--/.col-md-3-->
                    <div class="col-md-3 col-sm-6">
                        <div class="widget">
                            <h3 style="margin-top:15px;">Our Partners</h3>
                            <ul>
                                <li><a href="#">Adipisicing Elit</a></li>
                                <li><a href="#">Eiusmod</a></li>
                                <li><a href="#">Tempor</a></li>
                                <li><a href="#">Veniam</a></li>
                                <li><a href="#">Exercitation</a></li>
                                <li><a href="#">Ullamco</a></li>
                                <li><a href="#">Laboris</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--/.col-md-3-->
                </div>
            </div>
        </div>
    </div>
</section>
<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &copy; 2018 <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">Database</a>. All Rights Reserved.
            </div>
            <div class="col-sm-6">
                <ul class="pull-right">
                    <li><a href="/">홈</a></li>
                    <li><a href="#">공지사항</a></li>
                    <li><a href="#">고객센터</a></li>
                    <li><a href="/theator">영화관</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!--/#footer-->
<!-- <script src="js/jquery.js"></script>  -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.prettyPhoto.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.isotope.min.js"></script>
<script src="/js/main.js"></script>

</body>
</html>
