<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>CineWorld 마이페이지</title>
  <!-- Favicons -->
  <link href="/img/mini_logo.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">
  <!-- Bootstrap core CSS -->
  <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!--external css-->
  <link href="/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/css/zabuto_calendar.css">
  <!-- Custom styles for this template -->
  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/style-responsive.css" rel="stylesheet">
  <script src="/lib/chart-master/Chart.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
  <section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a href="/" class="logo">
        <img src="/img/logo3.png">
      </a>
      <!--logo end-->
      <div class="nav notify-row" id="top_menu">
        <!--  notification start -->
        <ul class="nav top-menu">
          <!-- settings start -->
          <!-- settings end -->
          <!-- inbox dropdown start-->
          <li id="header_inbox_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
              <i class="fa fa-envelope-o"></i>
              <span class="badge bg-theme">5</span>
              </a>
            <ul class="dropdown-menu extended inbox">
              <div class="notify-arrow notify-arrow-green"></div>
              <li>
                <p class="green">쪽지를 확인하세요.</p>
              </li>
              <li>
                <a href="index.html#">

                  <span class="subject">
                  <span class="from">Zac Snider</span>
                  <span class="time">Just now</span>
                  </span>
                  <span class="message">
                  Hi mate, how is everything?
                  </span>
                  </a>
              </li>
              <li>
                <a href="index.html#">

                  <span class="subject">
                  <span class="from">Divya Manian</span>
                  <span class="time">40 mins.</span>
                  </span>
                  <span class="message">
                  Hi, I need your help with this.
                  </span>
                  </a>
              </li>
              <li>
                <a href="index.html#">

                  <span class="subject">
                  <span class="from">Dan Rogers</span>
                  <span class="time">2 hrs.</span>
                  </span>
                  <span class="message">
                  Love your new Dashboard.
                  </span>
                  </a>
              </li>
              <li>
                <a href="index.html#">
                  <span class="subject">
                  <span class="from">Dj Sherman</span>
                  <span class="time">4 hrs.</span>
                  </span>
                  <span class="message">
                  Please, answer asap.
                  </span>
                  </a>
              </li>
              <li>
                <a href="index.html#">See all messages</a>
              </li>
            </ul>
          </li>
          <!-- inbox dropdown end -->
          <!-- notification dropdown start-->
          <li id="header_notification_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
              <i class="fa fa-bell-o"></i>
              <span class="badge bg-warning">7</span>
              </a>
            <ul class="dropdown-menu extended notification">
              <div class="notify-arrow notify-arrow-yellow"></div>
              <li>
                <p class="yellow">새로 올라온 공지사항</p>
              </li>
              <li>
                <a href="index.html#">
                  <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                  Server Overloaded.
                  <span class="small italic">4 mins.</span>
                  </a>
              </li>
              <li>
                <a href="index.html#">
                  <span class="label label-warning"><i class="fa fa-bell"></i></span>
                  Memory #2 Not Responding.
                  <span class="small italic">30 mins.</span>
                  </a>
              </li>
              <li>
                <a href="index.html#">
                  <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                  Disk Space Reached 85%.
                  <span class="small italic">2 hrs.</span>
                  </a>
              </li>
              <li>
                <a href="index.html#">
                  <span class="label label-success"><i class="fa fa-plus"></i></span>
                  New User Registered.
                  <span class="small italic">3 hrs.</span>
                  </a>
              </li>
              <li>
                <a href="index.html#">See all notifications</a>
              </li>
            </ul>
          </li>
          <!-- notification dropdown end -->
        </ul>
        <!--  notification end -->
      </div>
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="/auth/logout">로그아웃 <i class="glyphicon glyphicon-log-out"></i></a></li>
        </ul>
      </div>
    </header>
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="profile.html"><img src="/img/user.jpg" class="img-circle" width="80"></a></p>
          <h5 class="centered" style="color:#868e96" data-nickname="<%= user.nickname %>"> <%= user.nickname %></h5>
          <hr style="color:#e9ecef">
          <li class="mt">
            <!-- <div style="color:red">회원</div> -->
            <a  href="/admin/index" id="home">
              <i class="fa fa-bar-chart-o"></i>
              <span>전체 매출 통계</span>
              </a>
          </li>

          <li class="sub-menu">
            <a href="javascript:;" id="movieset">
              <i class="glyphicon glyphicon-cog"></i>
              <span>영화 관리하기</span>
            </a>
            <ul class="sub">
              <li><a href="/admin/bannermovie">Banner 영화 관리</a></li>
              <li><a href="/admin/bannerrelease">Banner 상영영화 관리</a></li>
              <li><a href="/admin/movie/1">영화 데이터베이스</a></li>
            </ul>
          </li>

          <li class="sub-menu">
            <a href="javascript:;" id="snack">
              <i class="glyphicon glyphicon-cog"></i>
              <span>스넥코너 관리</span>
            </a>
          </li>

          <li class="sub-menu">
            <a href="javascript:;" id="soldsnack">
              <i class="glyphicon glyphicon-list"></i>
              <span>판매한 스넥 현황</span>
            </a>
          </li>

          <li class="sub-menu">
            <a href="javascript:;" id="ticket">
              <i class="glyphicon glyphicon-list"></i>
              <span>예매 현황</span>
            </a>
          </li>

          <li class="sub-menu">
            <a href="javascript:;" id="event">
              <i class="glyphicon glyphicon-gift"></i>
              <span>이벤트 관리</span>
            </a>
          </li>

          <li class="sub-menu">
            <a href="javascript:;" id="notice">
              <i class="glyphicon glyphicon-bell"></i>
              <span>공지사항</span>
            </a>
          </li>


          <li class="sub-menu">
            <a href="javascript:;" >
              <i class="glyphicon glyphicon-envelope"></i>
              <span>쪽지 보내기</span>
            </a>
          </li>

          <li class="sub-menu">
            <a href="javascript:;">
              <i class="glyphicon glyphicon-envelope"></i>
              <span>받은 쪽지함</span>
            </a>
          </li>

          <li class="sub-menu">
            <a href="javascript:;">
              <i class="glyphicon glyphicon-th-list"></i>
              <span>내가 쓴 리뷰</span>
            </a>
          </li>

        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
