<% include ../maininclude/header.ejs %>


    <section id="blog">

        <div class="blog container">
            <div class="row">
                <div class="col-md-8">

                    <div class="blog-item">
                        <a href="#"><img class="img-responsive img-blog" src="images/blog1.png" width="100%" alt="" /></a>
                        <div class="blog-content">
                            <h1>영화상세페이지</h1>
                            <hr>



                            <div>
                            <img src="/images/poster.jpg" alt="" style="height:250px; width:auto;">
                            <div class="mv_info" style=" display:inline-block;margin-right:40px;float:right">
                              <h2 style="margin-bottom: 20px;"></h2>
                              <div class="mv" style="font-size: 16px;position:relative">
                                <h2><a href="blog-item.html">[ 보헤미안 랩소디 ]</a></h2>
                                <div> [평점]  </div>
                                <div> [장르]   </div>
                                <div> [개봉일]  </div>
                                <div> (감독)   </div>
                                <div> (주연배우) ㄴㅇㄹㄴㅇㄹㄴㅇsdfsdfsdfsdfsdfd</div>
                                <hr>
                                <div class="post-meta" style=" display:inline-block;margin-top:8px">
                                    <p><i class="fa fa-thumbs-o-up"></i> <a href="#"> 좋아요 : 10</a></p>
                                    <p>
                                        share :
                                        <a href="#" class="fa fa-facebook"></a>
                                        <a href="#" class="fa fa-twitter"></a>
                                        <a href="#" class="fa fa-linkedin"></a>
                                        <a href="#" class="fa fa-pinterest"></a>
                                    </p>
                                </div>
                                <button type="submit" id="tempnumber_btn" class="btn btn-lg btn-danger pull-right" style="text-align:center;border-radius:0px"> 예매하러가기 </button>
                                <div style=";display:inline-block; ">

                                </div>
                            </div>
                          </div>
                          </div>
                            <br>
                            <h2>[ 영화 줄거리 ]</h2>
                            <h3>“나는 스타가 되지 않을 것이다, 전설이 될 것이다” 공항에서 수하물 노동자로 일하며 음악의 꿈을 키우던 이민자 출신의 아웃사이더 ‘파록버사라’보컬을 구하던 로컬 밴드에 들어가게 되면서 ‘프레디 머큐리’라는 이름으로 밴드 ‘퀸’을 이끌게 된다.</h3>
                            <br>


                            <iframe class='video video-icon'src="http://www.youtube.com/embed/XTZko22Ze3o" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen style="width:650px;height:400px"></iframe>
                            <br>
                

                            <div class="comments">
                                <h2>영화리뷰</h2>
                                <div class="single-comment">
                                    <div class="comment-img">
                                        <img src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg?sz=50" alt="author">
                                    </div>
                                    <div class="comment-content">
                                        <h5>유저이름</h5>
                                        <p>All users on MySpace will know that there arEvery day besides so many people joining this community, there are many others who will be looking out for friends.</p>
                                    </div>
                                    <div class="comment-count">
                                        <a href="#"><i class="fa fa-heart"></i> 15</a>
                                    </div>
                                </div>


                                <div class="single-comment">
                                    <div class="comment-img">
                                        <img src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg?sz=50" alt="author">
                                    </div>
                                    <div class="comment-content comment-form">
                                        <form action="#">
                                            <textarea></textarea>
                                            <input type="submit" value="리뷰작성">
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--/.blog-item-->


                </div>
                <!--/.col-md-8-->

                <aside class="col-md-4">
                    <div class="widget search">
                        <form role="form">
                            <input type="text" class="form-control search_box" autocomplete="off" placeholder="Search Here">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <!--/.search-->


                    <div class="widget archieve">
                        <h3>카테고리</h3>
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="blog_archieve">
                                    <li><a href="#"> SF <span class="pull-right"></span></a></li>
                                    <li><a href="#"> 코미디 <span class="pull-right"></span></a></li>
                                    <li><a href="#"> 음악 <span class="pull-right"></span></a></li>
                                    <li><a href="#"> 공포 <span class="pull-right"></span></a></li>
                                    <li><a href="#"> 다큐 <span class="pull-right"></span></a></li>
                                    <li><a href="#"> 드라마 <span class="pull-right"></span></a></li>
                                    <li><a href="#"> 로맨스 <span class="pull-right"></span></a></li>
                                    <li><a href="#"> 모험 <span class="pull-right"></span></a></li>
                                    <li><a href="#"> 미스터리 <span class="pull-right"></span></a></li>
                                    <li><a href="#"> 애니메이션 <span class="pull-right"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--/.archieve-->

                    <div class="widget popular_post">
                        <h3>이달의 인기영화</h3>
                        <ul>
                            <li>
                                <a href="#">
                                    <img src="https://image.tmdb.org/t/p/original/oPkaAKqyoOKPk8yhODx3izAnYVP.jpg" alt="">
                                    <p>보헤미안 랩소디</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="https://image.tmdb.org/t/p/original/uc36Ixo81Z42wSx99oA7CsgfhP.jpg" alt="">
                                    <p>Can you get free games for you</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="https://image.tmdb.org/t/p/original/yxRFy8VrKM4xj1sslBmJgNVdRKL.jpg" alt="">
                                    <p>Can you get free games for you</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--/.archieve-->

                    <!--/.blog_gallery-->



                </aside>
            </div>
            <!--/.row-->
        </div>
    </section>
    <!--/#blog-->

<% include ../maininclude/footer.ejs %>
